a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.Calendar {
  font-family: sans-serif;
  text-align: center;
}
#external-events {
  position: absolute;
  z-index: 2;

  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  overflow-y: scroll;
}

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
  background-color:  #3788D8;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.fc-event-time{
  display : none;
}

.fc-daygrid-event-dot{
  display: none;
}

.selectCategorie{
  margin-right: 150px;
  margin-left: 5px;
}

@media only screen and (max-width: 765px){
  .selectCategorie{
    margin-right: 130px;
    margin-left: 5px;
  }
}

#search{
  margin-top: 4px;
  margin-left: 2px;
}

/*** DÉTAILS D'UN PLAT ***/

ol {
  counter-reset: li; 
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol li {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #ebe6e1;
  color: #444;
  font-size: large;
  border-radius: .3em;
  transition: .3s ease-out;
}

ol li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #3788d8;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #3788d8;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
  color: white;
}

#details-plat {
  margin-bottom: 100px;
}

.aj-ingredient {
  display: inline;
  width:max-content;
  margin: 1em 0em 1em 1em;
}

.admin-text
{
  color:rgba(255, 255, 255, 0.5); 
  font-style: italic;
}

.delete-buttons {
  display: none;
}

.table td {
  min-width: 100px;
}

.x-button {
  color:red;
  background-color: transparent;
  border-style: none;
  font-size:x-large;

  padding-right: 40px;
}

.input {
  display: inline;
}

#detailsFamille-buttons {
  display: flex;
  gap: 25px;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}