a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.Calendar {
  font-family: sans-serif;
  text-align: center;
}
#external-events {
  position: absolute;
  z-index: 2;

  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  overflow-y: scroll;
}

#external-events .fc-event {
  margin: 1em 0;
  cursor: move;
  background-color:  #3788D8;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.fc-event-time{
  display : none;
}

.fc-daygrid-event-dot{
  display: none;
}

.selectCategorie{
  margin-right: 135px;
  margin-left: 10px;
}

@media only screen and (max-width: 1200px){
  #categorie{
    width:120px;
    margin-left: 0px !important;
  }

  #searchText{
    width: 150px;
  }
}

@media only screen and (max-width: 1000px){
  #external-events{
    width: 200px !important;
    margin-left: 125px !important;
    height: 500px !important;
  }
}

@media only screen and (max-width: 765px){
  .selectCategorie{
    margin-right: 125px;
    margin-left: 15px;
  }
}

#search{
  margin-top: 4px;
  margin-left: 2px;
}

#categorie{
  width:120px;
  margin-left: 4px;
}

#foot{
  margin-top: 25px;
}

.respoTag{
  color: white;
}

.fc-event-title{
  font-weight: bold;
}

.fc-today-button{
  visibility: hidden;
}

/*** DÉTAILS D'UN PLAT ***/





/*****************************
*   NOTE: DÉTAILS D'UN PLAT
*****************************/
ol {
  counter-reset: li; 
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol li {
  position: relative;
  display: block;
  padding: .4em .4em .4em 2em;
  margin: .5em 0;
  background: #ebe6e1;
  color: #444;
  font-size: large;
  border-radius: .3em;
  transition: .3s ease-out;
}

ol li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #4484a8;
  height: 2em;
  width: 2em;
  border: .3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
  color: white;
}

#details-plat {
  margin-bottom: 100px;
}

.aj-ingredient {
  display: inline;
  width:max-content;
  margin: 1em 0em 1em 1em;
}

.admin-text
{
  color:rgba(255, 255, 255, 0.5); 
  font-style: italic;
}

.delete-buttons {
  display: none;
}

.table td {
  min-width: 100px;
}

.x-button {
  color:red;
  background-color: transparent;
  border-style: none;
  font-size:x-large;

  padding-right: 40px;
}

.input {
  display: inline;
}

.max-w {
  margin: auto;
  margin-bottom: 0%;
  max-width: 60%;
}





/*****************************
*   NOTE: AUTO COMPLETE
*****************************/


.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: -15px;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 88%;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #ebe6e1;
  color: black;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

#detailsFamille-buttons {
  display: flex;
  gap: 25px;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/*****************************
*   NOTE: USER SUGGESTIONS
*****************************/
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 36px;
  padding: 10px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}